.day-view-conteainer{
    text-align: center;
}

.element-{
    
    margin: auto;
    margin-top: 1%;
    padding: 1rem;
    background-color: bisque;
    border-radius: 1rem;
    width: 60%;
    height: 10%;
}
