.day-view-conteainer{
    text-align: center;
}

.element-{
    
    margin: auto;
    margin-top: 1%;
    padding: 1rem;
    background-color: bisque;
    border-radius: 1rem;
    width: 60%;
    height: 10%;
}
#but1{
    background-color: rgb(245, 162, 61);
    border-radius: 0.5rem;
    padding: 1%;
}
#but2{
    background-color: rgb(245, 162, 61);
    border-radius: 0.5rem;
    padding: 1%;
}