@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@200&display=swap');

.week-day-conteiner{
    padding: 1%;
    display: grid;
    grid-template-columns:repeat(7, 1fr) ;
    font-family: 'Antonio', sans-serif;
    margin-left: 20%;
    text-align: center;
}

.calendar-conteiner{
    
    padding: 1%;
    height: 60%;
    width: auto;
    margin-left: 20%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows:repeat(6, 1fr) ;
    font-family: 'Antonio', sans-serif;
}
.day{
    font-size: 1.25rem;
    margin: 2px;
    border-radius: 1rem;
    text-align: center;
    background-color: rgb(159, 71, 170);
}
.day:hover{
    background-color: rgb(43, 145, 145);
}
.day:active{
    background-color: rgb(43, 96, 145);
}

.calendar-navigation{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#month{
    font-size: 2rem;
    font-family: 'Antonio', sans-serif;
    text-align: center;
}
.but{
    font-size: 2.5rem;
    font-family: 'Antonio', sans-serif;
    border-radius: 1rem;
    background-color: bisque;
    border: bisque;
    &:hover{
        background-color: rgb(216, 177, 130);
        border: rgb(216, 177, 130);
    }
}