
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

.clock {
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    font-family: 'Zen Dots', cursive;
    font-size: 150%;
  }