
body , html{
    background-color: rgb(255, 204, 153);
    height: 99%;
}

#root{
    height: 100%;
}
.add-button{
    background-color: rgb(204, 191, 12);
    position: fixed;
    opacity: 70%;
    padding: 1rem;
    bottom: 3rem;
    right: 3rem;
    border-radius: 2rem;
}