@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@200&display=swap');


body , html{
    background-color: rgb(255, 204, 153);
    height: 99%;
    font-family: 'Antonio', sans-serif;

}

#root{
    height: 100%;
}
